{
    "url": "https://api.blockcypher.com/v1/btc/main",
    "keysToSweep": [
        {
            "addressToSweep": "pub_address_here",
            "seed": "private_key_here"
        },
        {
            "addressToSweep": "pub_address_here",
            "seed": "private_key_here"
        },
        {
            "addressToSweep": "pub_address_here",
            "seed": "private_key_here"
        }
    ],
    "destination": "pub_address_to_sweep_funds_into",
    "limit": 250,
    "rate": 55000,
    "token": "blockcypher_api_token"
}
